@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  }

@font-face {
    font-family: 'Roboto Slab';
    src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
}

.field--name-field-purina-paragraph {
    margin-top: 83px;
    margin-bottom: 24px;

    .sponsored_content {
        padding-top: 54.5px!important;
        padding-bottom: 40px!important;
    }

    .reverse_content {
        .content_text {
            padding: 91.5px 165px 55.5px 56px!important;
        }
    }

    .reverse_content {
        .sponsored_content {
            padding-top: 54.5px!important;
            padding-bottom: 40px!important;
        }
    }


    .paragraph--type--purina {
        display: flex;
        font-family: 'Roboto Slab', sans-serif;
        margin: 0 auto;
        max-width: 1440px;
    
        .content_text {
            max-width: 640px;
            padding: 91.5px 56px 54.5px 165px;
            background-color: #F5F1E5;
    
            .field--name-field-article-category-tag {
                padding-bottom: 8px;
    
                a {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    font-variant: small-caps;
                    text-transform: uppercase;
                    color: #E81C24;
                }
            
            }
    
            .field--name-field-article-title {
                width: 350px;
                h2 {
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 44px;
                    color: #3A3533;
                    padding-bottom: 24px;
                }
            }
    
            .field--name-field-text {
                padding-bottom: 31px;
                p {
                    color: #6B6868;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
    
            .field--name-field-read-more {
                padding-bottom: 31px;
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #3A3533;
                    border-bottom: 1px solid #E81C24;
                }
            }
    
            .field--name-field-sponsored-by {
                .paragraph--type--sponsor {
                    display: flex;
                    align-items: center;
    
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        font-variant: small-caps;
                        color: #3A3533;
                        text-transform: uppercase;
                    }
    
                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        font-variant: small-caps;
                        color: #3A3533;
                        text-transform: uppercase;
                    }
    
                    .field--name-field-icon {
                        margin-right: 12px;
                    }
    
                    .field--name-field-info {
                        margin-right: 2px;
                    }
                }
            }
        }
    
        .content_image {

        }
    }
    
    .paragraph--type--header {
        h3 {
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 400;
            font-size: 25px;
            line-height: 35px;
            color: #3A3533;
            padding: 16px 0 32px 165px;
        }
    }
    
    @media (max-width: 768px) {
        .field__item {
            .paragraph--type--header {
                width: 100%;
            }
        }

        .reverse_content {
            flex-direction: column!important;
        }
            .paragraph--type--purina {
                flex-direction: column-reverse;
                margin: 0 16px 16px;

                .content_text {
                    padding: 0 21px!important;
                    max-width: 100%;

                    .field--name-field-article-category-tag {
                        padding: 16.14px 0 8px;

                        a {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                    .field--name-field-article-title {
                        padding-bottom: 12px;
                        width: 100%;

                        h2 {
                            font-size: 25px;
                            line-height: 35px;
                        }
                    }

                    .field--name-field-text {
                        padding-bottom: 19px;
                        p {
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    .field--name-field-read-more {
                        padding-bottom: 23px;
                    }

                    .field--name-field-sponsored-by {
                        padding-bottom: 16px;
                    }
                }
    
                .content_image {
                    img {
                        width: 100%;
                        height: 100%;
                    }  
                }
            }

            

            .paragraph--type--header {
                padding-left: 20px;

                h3 {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    padding-bottom: 15.86px;
                    padding-left: 20px;
                }
            }
        
        
    }
}

@media(max-width: 756px) {
    body {
        padding: 0;
    }
}