header {
  margin-top: 0;
  padding: 0.5rem 0;
}

header .region-header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .region-header-contacts #block-headercontactsocialmedia .menu {
  display: flex;
}

header .region-header-navigation {
  display: flex;
  color: #26358C;
}

header .region-header-navigation #block-headernavigationmenu .menu {
  display: flex;
}

header .region-header-navigation #block-headernavigationmenu .menu li {
  padding: 0 16px;
}